body {
    width: 25%;
    margin: 20px;
}
p {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
    padding: 15px;
}
#last {
    border-bottom: 2px solid black;
}
p:hover {
    background-color: coral;
}